* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-animation: fade-in 500ms ease-in-out;
          animation: fade-in 500ms ease-in-out;
}

body {
  background-color: black;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  height: 8vh;
}

.header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .fa-cloud {
  font-size: 20px;
  margin-left: 10px;
}

.header .header__logo {
  font-family: 'Parisienne', cursive;
  font-size: 25px;
  font-weight: bold;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 92vh;
}

.main .time {
  color: #12bfd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 50px;
  border: 1px solid white;
  width: 250px;
  height: 250px;
}

.main .timeMeditated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  border: 1px solid #616161;
  width: 230px;
  height: 50px;
  color: #616161;
}

.main .meditatedTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #616161;
  width: 230px;
  height: 50px;
  color: #616161;
}

.main .startStop {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .startStop .start {
  border: 1px solid green;
}

.main .startStop .stop {
  border: 1px solid maroon;
}

.main button {
  border: 1px solid white;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
  color: grey;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: #12bfd6 4px 3px;
          box-shadow: #12bfd6 4px 3px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    background-color: black;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    background-color: black;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */